doctype html
html
    head
        title #{name} - QR Party
        include head

    body

        include logo

        .container
            .row.align-items-center.justify-content-center
                .col.align-items-start
                .col.col-6
                    .postIt.mb7
                        | Congratulation, your QR Party server is
                        | is now setup ! Your private party code
                        | for DJ and video screen is  <B>#{code}</b>
                .col

            .row.align-items-center.justify-content-center
                .col.align-items-start
                .col.col-6
                    a(href="/encoder/" + pid, rel="nofollow", class="btn btn-sq btn-primary")
                        i(class="fa fa-qrcode fa-3x")
                        br
                        | Print QR List

                    a(target="_none" href="/vjay/" + vid, rel="nofollow", class="btn btn-sq btn-primary")
                        i(class="fa fa-chart-line fa-3x")
                        br
                        | Public Screen

                    a(href="/djinfo/"+pid, rel="nofollow", class="btn btn-sq btn-primary")
                        i(class="fa fa-headphones fa-3x")
                        br
                        | Print DJ Info

                    a(href="/vote/"+pid, rel="nofollow", class="btn btn-sq btn-primary")
                        i(class="fa fa-check-square fa-3x")
                        br
                        | Voting Station

                    a(href="/queue/"+pid, rel="nofollow", class="btn btn-sq btn-primary")
                        i(class="fa fa-list-ol fa-3x")
                        br
                        | LineUp Queue

                    a(href="/api/"+pid, rel="nofollow", class="btn btn-sq btn-primary")
                        i(class="fa fa-book fa-3x")
                        br
                        | REST API DOC

                    a(href="/dj/"+pid, rel="nofollow", class="btn btn-sq btn-primary")
                        i(class="fa fa-headphones fa-3x")
                        br
                        | DJ Console
                .col