<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>QR Party</h1>
    <p><a href=/scan >QR Terminal (HTML5 and webcam)</a></p>
    <p><a href=/encoder/pirate/5/3 >QR Encoder</a></p>

  </body>
</html>