doctype html
html
    head
        title QRParty - QR code for DJ
        include head
    body
        include logo
        .container(class="text-center")
            .row.pt9.pb8
                .col(class="justify-content-md-center")
                    a(href="/make" rel="nofollow" class="btn btn-sq-lg btn-success")
                        i(class="fa fa-music fa-3x")
                        br
                        | Party Start

        .container
            .row
                .col-lg-4
                    h4 Step 1
                    | In a secret web page, DeeJay encode all the
                    | playlist they wanna play tonight for 20 minutes.
                    | It can be one DJ
                    | or DJ battle who try to guess what playlist we will
                    | the most popular

                .col-lg-4
                    h4 Step 2
                    | A projection screen show up 3 playlist  available
                    | to vote for the next round. Participant can vote
                    | with a personal printed QR code in front of a webcam.
                    | They can vote with their mobile too !

                .col-lg-4
                    h4 Step 3
                    | Real time chart show the current trending ! When
                    | the delay is over the winner is played on the dancefloor
                    | and the next selection become available to vote


        .container()
            .row
                .col
                    hr
                    ul
                        li
                            a(href='/make') Start a new QR Party
                        li
                            a(href='/admin/test') Login for DJ
                        li
                            a(href='/vjay/test/1') Vjay Screen #1
                        li
                            a(href='/scan') QR Terminal (HTML5 and webcam)
