
// Logo and Navigation Bar

style.

   h1 {
      margin: 21px;
      font-weight: bold;
      font-size: 60px;
      color: #aaaaaa;
   }

   .center {
      text-align: center
   }

   .glow {
      text-shadow: 0px 1px 30px rgba(255, 239, 206, 0.82);
      color: #cfcfcf;
      font-size: 56px;
   }
#logo
    .centro
        h1.glow.center QR Party


