doctype html
html
    head
        title Starting a new Party with QRParty
        include head
    body
        include logo
        .container
            .row-fluid
                .span5
                    legend Start a Party

                    form(class='form-horizontal', action='/make', method='post')

                        .control-group
                            label(class='control-label') PartyTag (a-Z)
                            .controls
                                input(class='input-small', name='partytag', placeholder='MyParty')

                        .control-group
                            label(class='control-label') DJ Password
                            .controls
                                input(class='input-small', name='djpass', type='password')

                        .control-group
                            label(class='control-label') Participants number
                            .controls
                                input(class='input-small', value='10', name='usermax',type='text')

                        .control-group
                            label(class='control-label') how many choice
                            .controls
                                input(class='input-small', value='3', name='choicemax',type='text')

                        .control-group
                            .controls
                                button(type='submit', class='btn') make
