
h4 Pending Queue

#pending

style.
    .setitem {
        background: #eeeeff;
        border-radius: 7px;
        padding: 12px;
        margin-top: 5px;
        size: 14px;
    }


script(type='text/javascript').

    d3.json('/v1/queue/#{pid}', function (somedata) {

        console.log(somedata)
        var here = d3.select("#pending");
        var t = {};
        //console.log( somedata );

        for (var k = 0 in somedata) {

            (function (k) {

                t = JSON.parse(somedata[k]);
                here.append("div")
                    .attr('id', k)
                    .attr('class', 'setitem')
                    .html('<table><tr><td><a href=/publish/#{pid}/' + k + '  ><button class=btn >Publish</button></a></td><td width=100% ><center><span class="label label-success" >' + t.set1name + '</span> vs <span class="label label-warning" >' + t.set2name + '</span> vs <span class="label label-info" > ' + t.set3name + '</span></center></td><td><a href=/delete/#{partytag}/' + k + ' ><span class="icon-remove-sign"></span></a></td></tr></table>');
            })(k);
        }
    });
