doctype html
html
    head
        title #{name} - Queue
        include head
    body
        include logo

        .container
            .row
                .col
                    include queueList

















