doctype html
html
    head
        title #{name} - QR Party
        include head
    body

        style.

            body {
                background-color: #000000;
            }

            html {

            }

            #welcome {
                position: fixed;
                top: 0;
                left: 0;
                min-width: 100%;
                min-height: 100%;
            }

            #vote {
                background-color: #000000;
                width: 100%;
                height: 100%;
            }
            #chrono {
                color: #f0f0f0;
                font-weight: bold;
                font-size: 200%;
                padding: 7px;
            }

            .center {
                position: fixed;
                top: 50%;
                /* left: 50%; */
                margin-top: 100px;
                /* margin-left: -100px; */
                text-align: center;
                width: 100%;
            }

            .center3 {
                position: fixed;
                top: 10%;
                margin-top: 100px;
                text-align: center;
                width: 100%;
            }

            .hide {
                display : none;
            }

            .night-hotel {
                -webkit-box-sizing: content-box;
                -moz-box-sizing: content-box;
                box-sizing: content-box;
                /* padding: 20px; */
                border: none;
                font: normal 60px/1 "Monoton", Helvetica, sans-serif;
                color: rgba(255, 255, 255, 1);
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                text-shadow: 0 0 10px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255), 0 0 30px rgb(255, 255, 255), 0 0 40px rgb(255, 17, 119), 0 0 70px rgb(255, 17, 119), 0 0 80px rgb(255, 17, 119), 0 0 100px rgb(255, 17, 119), 0 0 150px rgb(255, 17, 119);
                -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
                -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
                -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
                transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
            }

            .night-hotel:hover {
                text-shadow: 0 0 5px rgb(255, 255, 255), 0 0 10px rgb(255, 255, 255), 0 0 15px rgb(255, 255, 255), 0 0 20px rgb(255, 17, 119), 0 0 35px rgb(255, 17, 119), 0 0 40px rgb(255, 17, 119), 0 0 50px rgb(255, 17, 119), 0 0 75px rgb(255, 17, 119);
            }

            .topright {
                position: absolute;
                top: 8px;
                right: 16px;
                font-size: 18px;
            }

        .topright
            #chrono

        #welcome
            img(src='/img/start.jpg', width="100%")
            .center
                .night-hotel #{name}


        #vote.hide
            .center3
                #proposition1.night-hotel.m9
                #proposition2.night-hotel.m9
                #proposition3.night-hotel.m9



#chart


    script(type='text/javascript').

        //
        // Start Chrono
        //
        getData(function(data){
            chronoRender(data);
        });

        //
        // Each 5 second, check for update
        //
        (function () {
            getData(function(data){
                welcomeScreen(data);
                votingSelectionScreen(data);
                chronoRender(data);
            })
            setTimeout(arguments.callee, 5*1000);
        })();


        //
        // API Call to get all the voting info
        //
        function getData(callback) {
            $.get('/v1/now/#{vid}', function (string) {
                var data = JSON.parse(string)
                callback(data);
            });
        }

        //
        // rendoring in HTML the chrono as a count down
        //
        function chronoRender(data) {
            if (data && data.time) {
                var countDownDate = data.time + (data.minutes*60*1000);

                // Update the count down every 1 second
                var x = setInterval(function () {

                    // Get todays date and time
                    var now = new Date().getTime();

                    // Find the distance between now and the count down date
                    var distance = countDownDate - now;

                    // Time calculations for days, hours, minutes and seconds
                    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                    var html = ''
                    if (days    >0 ) { html += days    + "d "}
                    if (hours   >0 ) { html += hours   + "h "}
                    if (minutes >0 ) { html += minutes + "m "}
                    if (seconds >0 ) { html += seconds + "s "}

                    // Display the result in the element with id="demo"
                    document.getElementById("chrono").innerHTML = html;

                    // If the count down is finished, write some text
                    if (distance < 0) {
                        clearInterval(x);
                        document.getElementById("chrono").innerHTML = "FINISHED";
                    }
                }, 1000);
            }
        }


        function welcomeScreen(data) {
            if (data && (data.show === 'welcome')) {
                //
                // Welcome Screen
                //
                $('#display').addClass('hide');
            }
        }

        function votingSelectionScreen(data) {
            if (data && (data.show === 'vote')) {
                //
                // Welcome Screen
                //
                $('#welcome').addClass('hide');
                $('#vote').removeClass('hide');
                $('#proposition1').html(data.set1name || "?")
                $('#proposition2').html(data.set2name || "?")
                $('#proposition3').html(data.set3name || "?")
            }
        }
