<html>
<head>
<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
<title>Vjay QR Party</title>
<style type="text/css">
body{
   
 width:100%;
    text-align:center;
   background-color:black;
	color: #eeeeee;

font-family: Verdana, Arial, Helvetica, sans-serif;
	
}



img{
    border:0;
}

#main{
    margin: 15px auto;
    overflow: auto;
    width: 750px;
    background-color: black;
}
#header{
}

#mainbody{
    width:100%;
	display:none;
}
#footer{
}
#qrfile{
    width:320px;
    height:240px;
}
#v{
    width:320px;
    height:240px;
}
#qr-canvas{
    display:none;
}
#iembedflash{
    margin:0;
    padding:0;
}
#mp1{
    text-align:center;
    font-size:25px;
}
#mp2{
    text-align:center;
    font-size:25px;
	color:red;
}
.selector{
	border: solid;
	border-width: 3px 3px 1px 3px;
    margin:0;
    padding:0;
    cursor:pointer;
    margin-bottom:-5px;
}
#outdiv
{
    margin: auto;
    width:320px;
    height:240px;
	border: solid;
	border-width: 2px 2px 2px 2px;
	border-color: #444444;
}

#result{
	background: #333333;
    margin: auto;
    border: solid;
	border-width: 1px 1px 1px 1px;
	padding:20px;
    width:280px;
    margin-top: 10px;
}

#imghelp{
    position:relative;
    left:0px;
    top:-160px;
    z-index:100;
    font:18px arial,sans-serif;
    background:#f0f0f0;
	margin-left:35px;
	margin-right:35px;
	padding-top:10px;
	padding-bottom:10px;
	border-radius:20px;
}
p.helptext{
    margin-top:54px;
    font:18px arial,sans-serif;
}
p.helptext2{
    margin-top:100px;
    font:18px arial,sans-serif;
}
ul{
    margin-bottom:0;
    margin-right:40px;
}
li{
    display:inline;
    padding-right: 0.5em;
    padding-left: 0.5em;
    font-weight: bold;
    border-right: 1px solid #333333;
}
li a{
    text-decoration: none;
    color: black;
}

#footer a{
	color: black;
}
.tsel{
    padding:0;
}

#tooltip1 { 
    position: relative; 
    text-decoration: none;
    font:15px arial,sans-serif;
    text-align:center;
    color:red;
}
#tooltip1 a {text-decoration: none; color:red;}
#tooltip1 a span { display: none; color: #FFFFFF; }
#tooltip1 a:hover span { text-decoration: none;display: block; position: absolute; width: 250px; background-color: #ddd; height: 50px; left: -10px; top: -10px; color: black; padding: 5px; }

.choice
{
	width: 610px;
	height: 144px;
	border-radius: 10px;
	margin: auto;
	margin-top: 5px;
	font-size: 150%;
	text-align: left;
	padding: 7px;
}

.bigtext
{	 font-size: 250%;
	 text-align: center;
	 margin-top: -15px;
}

.set1
{
	background: #009933;
	opcacity: (0.5);
}


.set2
{
        background: #FF9933;
        opcacity: (0.5);
}

.set3
{
        background: #6666CC;
        opcacity: (0.5);
}



</style>
<script type="text/javascript" src="/js/d3.js"></script>
</head>

<body >

<div id=chart ></div>
<script>
	//
	// Show the Chart with D3.js
	//

	d3.json('/json/vstat/test', function (xdata){

		var panel = d3.select("#chart")
		panel.html(  xdata.name1 +'/'+ xdata.name2 +'/'+ xdata.name3);
		delete panel;
	});
</script>


</body></html>