doctype html
html
    head
        title #{name} - QR Party
        include head
    body
        include logo
        .container
            .row
                .col
                    video#preview


        script(type='text/javascript').

            //
            // Starting the camera for deconding QRcode
            //
            start_camera('preview');
